#popup-modal {
    top: 90%;
    left: 84%;
    transform: translate(-50%, -50%);
  }
  
  .custom-container {
    max-width: 70rem; /* Adjust the width as needed */
    margin-left: auto;
    margin-right: auto;
}

/* .bg-purple-magenta {
    background: linear-gradient(90deg, #be87f1, #f5a0f5);
} */

.loading-dots {
    display: flex;
  }

  .dot {
    width: 1em; /* Adjust the size of each dot */
    height: 1em; /* Adjust the size of each dot */
    background-color: #000; /* Adjust the color of the dots */
    border-radius: 50%;
    margin-right: 0.5em; /* Adjust the spacing between dots */
  }

  .dot1 {
    animation: fadeIn 0.5s ease-in-out forwards;
  }

  .dot2 {
    animation: fadeIn 0.5s 0.2s ease-in-out forwards;
  }

  .dot3 {
    animation: fadeIn 0.5s 0.4s ease-in-out forwards;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }