#popup-modal {
    top: 90%;
    left: 84%;
    transform: translate(-50%, -50%);
  }
  
  .custom-container {
    max-width: 70rem; /* Adjust the width as needed */
    margin-left: auto;
    margin-right: auto;
}